body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }


.slider-list {
  height: 400px !important;
}

.albumSlider .slider-decorator-2 {
  bottom: -160px !important;
}

#root {
  background-color: #0D141A;
  color: #7EBF2D;
}